/* desktops 1280px */

/* small laptops 1024px */
@media (max-width: 1024px) {
  .hero-content {
    height: 80vh;
  }
  .hero-section {
    height: auto;
  }
  .hero-content h2 {
    font-size: 3rem;
  }
  nav {
    padding: 0 3%;
  }
  .about-section .about-us{
    grid-template-columns: 1fr;
  }
  .about-section .about-us .about-left img{
    height: auto;
  }
  .contact-section .contact-container{
    grid-template-columns: 1fr;
  }
}

/* tablets 768px */
@media (max-width: 768px) {
  .hero-content h2 {
    font-size: 2.5rem;
  }
  nav {
    background-color: #212121;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  nav .nav-links {
    position: fixed;
    top: 60px;
    right: 0;
    width: 80%;
    background-color: white;
    flex-direction: column;
    padding: 15px 0;
    transform: translateX(100%);
    height: 100vh;
    transition: transform 0.6s ease-in-out;
  }
  nav .open {
    transform: translateX(0%);
  }
  nav .nav-links a {
    margin: 10px;
    display: block;
    text-align: center;
    z-index: 100;
    color: black;
  }
  .hamburger {
    display: block;
  } 
 
}

/* mobile phones 600px */
@media (max-width: 600px) {
  .hero-content h2 {
    font-size: 1.8rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
  .header h2,.about-section .about-us .about-right h3{
    font-size: 1.5rem;
  }
  .about-section .about-us .about-right p,.menu-section .menu-container .card p{
    font-size: 0.9rem;
  }
  footer p,footer .footer-container .quick-links ul a{
    font-size: 0.9rem;
   }
}
